<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Demo</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<base href="/" />
	<link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css" />
	<script async src="/npm/es-module-shims"></script>
	<script type="importmap">
		{
			"imports": {
				"bootstrap": "/npm/bootstrap",
				"@popperjs/core": "/npm/@popperjs/core",
				"htmx": "/npm/htmx.org"
			}
		}
	</script>
	<script type="module">
		import { Toast } from 'bootstrap';
		import 'htmx';
		htmx.on("notice", (e) => {
			document.getElementById("toast-body").innerText = e.detail.value;
			new Toast(document.getElementById("toast"), { delay: 2000 }).show();
		});
	</script>
</head>

<body>
	<header>
		<h1>Demo</h1>
		<nav class="nav nav-tabs">
			<a class="nav-link active" data-bs-toggle="tab" data-bs-target="#message" href="#">Message</a>
			<a class="nav-link" data-bs-toggle="tab" data-bs-target="#stream" href="#">Stream</a>
			<a class="nav-link" data-bs-toggle="tab" data-bs-target="#test" href="#">Test</a>
		</nav>
	</header>
	<main>
		<br />
		<div class="tab-content">
			<div class="tab-pane fade show active" id="message" role="tabpanel">
				<form class="container">
					<div id="auth" hx-trigger="load" hx-get="/user">
						Unauthenticated
					</div>
					<div id="greeting">Placeholder</div>
					<input id="name" name="value" type="text" />
					<button class="btn btn-primary" hx-post="/greet" hx-target="#greeting">Greet</button>
				</form>
			</div>
			<div class="tab-pane fade" id="stream" role="tabpanel">
				<div class="container" hx-sse="connect:/stream">
					<div id="load" hx-sse="swap:message"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="test" role="tabpanel">
				<div class="container">
					<div id="hello"></div>
					<div id="world"></div>
					<button class="btn btn-primary" hx-get="/test" hx-swap="none">Fetch</button>
					<button class="btn btn-primary" hx-get="/notify" hx-swap="none">Notify!</button>
				</div>
			</div>
		</div>
		<div class="position-fixed top-0 end-0 p-3">
			<div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert">
				<div class="d-flex">
					<div id="toast-body" class="toast-body"></div>
					<button type="button" class="btn-close btn-close-white me-2 m-auto"
						data-bs-dismiss="toast"></button>
				</div>
			</div>
		</div>
	</main>
</body>

</html>